In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('diabetes.csv')
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,diabetes
0,Female,80.0,0,1,never,25.19,0
1,Female,54.0,0,0,No Info,27.32,0
2,Male,28.0,0,0,never,27.32,0
3,Female,36.0,0,0,current,23.45,0
4,Male,76.0,1,1,current,20.14,0
...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,0
99996,Female,2.0,0,0,No Info,17.37,0
99997,Male,66.0,0,0,former,27.83,0
99998,Female,24.0,0,0,never,35.42,0
99999,Female,57.0,0,0,current,22.43,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gender           100000 non-null  object
 1   age              100000 non-null  float64
 2   hypertension     100000 non-null  int64
 3   heart_disease    100000 non-null  int64
 4   smoking_history  100000 non-null  object
 5   bmi              100000 non-null  float64
 6   diabetes         100000 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 5.3+ MB

In [9]:
# convert object columns to category for better memory usage
df['gender'] = df['gender'].astype('category')
df['smoking_history'] = df['smoking_history'].astype('category')

# convert binary indicators to boolean type
df['hypertension'] = df['hypertension'].astype(bool)
df['heart_disease'] = df['heart_disease'].astype(bool)
df['diabetes'] = df['diabetes'].astype(bool)

# float
df['age'] = df['age'].astype(np.float32)
df['bmi'] = df['bmi'].astype(np.float32)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gender           100000 non-null  category
 1   age              100000 non-null  float32
 2   hypertension     100000 non-null  bool
 3   heart_disease    100000 non-null  bool
 4   smoking_history  100000 non-null  category
 5   bmi              100000 non-null  float32
 6   diabetes         100000 non-null  bool
dtypes: bool(3), category(2), float32(2)
memory usage: 1.2 MB